@import "../../index.css";

.wave-card {
  background-color: var(--primary-green);
  width: 100%;
  min-height: 220px;
  border-radius: 20px;
  position: relative;
}

.wave-card img {
  width: 100%;
  height: auto;
}

.profile-navbar {
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
}

.user-info-card {
  position: absolute;
  bottom: -50px;
  left: 20px;
  right: 20px;
  background: linear-gradient(
    112.83deg,
    rgba(255, 255, 255, 0.82) 0%,
    rgba(255, 255, 255, 0.8) 110.84%
  );
  padding: 1rem;
  border: 1.5px solid #ffffff;
  box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(10.5px);
  border-radius: 16px;
  cursor: pointer;
}

.user-info-card .ant-avatar {
  border-radius: 12px;
}

.user-info-card .profile-picture {
  position: relative;
}

.user-info-card .profile-picture > img {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: white;
  padding: 0.4rem;
  border-radius: 8px;
  right: -8px;
  bottom: 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.user-info-card h4 {
  font-size: 18px;
}
.user-info-card p {
  font-size: 15px;
}

.ant-btn img {
  width: 16px;
  height: 16px;
}

.user-info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-setting-cards,
.profile-info-card,
.conversations-card {
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 16px;
  min-height: 320px;
  cursor: pointer;
}

.profile-setting-section {
  margin-top: 6rem;
}

.profile-setting-card .profile-setting-title {
  color: var(--text-secondary);
  font-size: 12;
  margin-block: 1.4rem;
}

.profile-info-card h6 {
  color: #718096;
  font-weight: 600;
  font-size: 14px;
}
.profile-info-card p {
  color: var(--text-secondary);
  font-size: 14px;

  font-size: 12px;
}

.social-icon-button img {
  width: 22px;
  height: 22px;
}

.conversations-card .ant-avatar {
  border-radius: 10px;
}

.conversation-user-profile {
  margin-block: 1.2rem;
}
.conversations-card .ant-btn > span {
  color: var(--primary-green);
}

.projects-section {
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 16px;
  min-height: 360px;
  cursor: pointer;
}

.project-card .project-image img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  filter: brightness(70%);
}

.project-card .project-image {
  position: relative;
}

.project-image-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    360deg,
    rgba(49, 56, 96, 0.16) 0%,
    rgba(21, 25, 40, 0.88) 100%
  );
  border-radius: 16px;
}

.view-all-button span {
  color: var(--primary-green);
}

.view-all-button {
  border: 1px solid var(--primary-green);
  border-radius: 12px;
  padding: 18px 28px !important;
}

.create-new-project-card {
  min-height: 360px;
  border: 1px solid #e0e1e2;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.create-new-project-card .anticon-plus {
  font-size: 20px;
  color: var(--text-secondary);
}
.create-new-project-card p {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-secondary);
}

@media (max-width: 992px) {
  .user-info-content {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}
